<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">

  <script>
    (function (d) {
      var config = {
        kitId: 'hto1kcq',
        scriptTimeout: 3000,
        async: true
      },
        h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);
  </script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container px-0">
      <a class="navbar-brand" href="#">DOYOGA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-lg-center " id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link me-4 fs-6 text-secondary" aria-current="page" href="#">課程介紹</a>
          <a class="nav-link me-4 fs-6 text-secondary" href="#">瑜珈空間</a>
          <a class="nav-link fs-6 text-secondary" href="#">當月課表</a>
        </div>
      </div>
      <button class="btn1 btn-outline-dark btn-sm me-3" type="button">立即預約</button>
      <button class="btn2 btn-outline-dark btn-sm" type="button">聯絡我們</button>
    </div>
  </nav>


  <%- contents %>

    <div class="footer bg-dark">
      <div class="container px-0 first-column d-lg-flex">
        <h3 class="text-white me-lg-auto">現在訂閱，獲得課程優惠碼！</h3>

        <div class="input-group">
          <input type="email" class="form-control" placeholder="輸入您的電子信箱" aria-label="Input group example"
            aria-describedby="btnGroupAddon">
          <button type="submit" class="btn btn-light">訂閱</button>
        </div>

      </div>
      <hr class="solid">

      <div class="container px-0 second-column">
        <div class="weblink d-flex justify-content-between align-items-center">
          <a href="index.html" class="d-inline-block">
            <h4 class="text-white mb-2">DOYOGA</h4>
          </a>

          <ul class="list-unstyled d-flex weblink-icon">
            <li><a href="#" class="d-inline-block pe-2"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#" class="d-inline-block pe-2"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" class="d-inline-block"><i class="fab fa-line"></i></a></li>
          </ul>
        </div>

        <ul class="list-unstyled text-white">
          <li class="mb-2"><a href="#" class="d-inline-block footer-intro">課程介紹</a></li>
          <li class="mb-2"><a href="#" class="d-inline-block footer-space">瑜珈空間</a></li>

          <div class="index-final-link d-md-flex">
            <li class="mb-2"><a href="#" class="d-inline-block footer-schedule">當月課表</a></li>
            <span class="text-white">© 2021. All Rights Reserved.</span>
          </div>
        </ul>

      </div>

    </div>


    
    <script src="./assets/js/vendors.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/all.js"></script>
   
    <!-- CSS only -->

    
</body>

</html>